/* /////////////////// */
/*       NAV BAR       */
/* /////////////////// */

#navigation {
    border-right: solid;
    border-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: rgb(158, 158, 158);
}


/* /////////////////// */
/* VIEW ADVOCATES PAGE */
/* /////////////////// */

#adv-list-div {
    margin-left: 350px;
    display:inline;
}

#adv-box {
    border: solid;
    border-color: black;
    border-radius: 1px;
    margin: 5px;
    background-color:rgb(225, 225, 225);
    padding: 5px;
}

#adv-box:hover {
   background-color: rgb(200, 200, 200);;
}

#adv-display-name {
    margin: 0;
}

.adv-row {
    display: flex;
}
