#prospectBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    padding: 20px;
  }


.alert {
    z-index: 1;
    position: fixed;
    top: 50px;
    right: 250px;
    border-color: #000000;
    background-color: #000000;
    border: solid;
    border-width: 1px;
    padding: 10px;
    font-size: 140%;
    color:#ffffff;
    width: 20%;
    border-radius: 10px;

}

/* /////////////////// */
/*      NAV BAR        */
/* /////////////////// */

#navigation {
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 15%;
    border-right: solid;
    border-right-width: 1px;
    border-right-color:black;
    padding-right: 4px;
}

#navigation a {
    display: block;
    margin-bottom: 10px;
    margin-left: 10%;
  }

#nav-title {
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}


/* /////////////////// */
/*   ADVOCATE LIST     */
/* /////////////////// */

.page-header {
    position:fixed;
    top: 0%;
    height: 10%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    z-index: 1;
}

#right-side {
    background-color: rgb(235, 235, 235);
    margin-left: 15%;
}

#list-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    top: 10%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    z-index: 1;

}

#adv-list-div {
    background-color: rgb(235, 235, 235);
    margin-top: 10.5%;
}

.adv-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
}

.adv-row p {
    margin: 0;
  }

.center-header {
    text-align: center;
}

#adv-box {
    margin: 5px;
    padding: 5px;
}

#adv-box:hover {
   background-color: rgb(255, 255, 255);;
}



/* /////////////////// */
/*   List Info Display */
/* /////////////////// */

#adv-id-title {
    display: none;
}

/* #adv-title {
    
}

#company-title {
    
}

#email-title {
    
}

#industry-title {
    
}

#company-size-title {
    
} */