/* /////////////////// */
/*       HEADER        */
/* /////////////////// */

#header {
    border-bottom: solid;
    border-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: azure;
}


/* /////////////////// */
/* VIEW ADVOCATES PAGE */
/* /////////////////// */

#adv-list-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

#adv-box {
    border: solid;
    border-color: black;
    border-radius: 1px;
    margin: 5px;
    background-color:rgb(225, 225, 225);
    flex: 0 0 calc(18% - 10px); /* 20% for 5 items, minus 10px for margins */
    padding: 5px;
}

#adv-box:hover {
   background-color: rgb(200, 200, 200);;
}

#adv-display-name {
    margin-left: 5%;
    margin-right: 5%;
}
