{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/advocates.js') }}"></script> 
{% endblock %}

{% block title %}Kredible{% endblock %}

{% block body %}

<div id="navigation">

    <h1>Kredible</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/advocates">Advocates</a>
    <a href="/calendar">Calendar</a>
    <a href="/notifications">Notifications</a>
    <a href="/settings">Settings</a>
    <a id="logout" href="/logout">Log Out</a>

</div>




<div id="right-side">

    <div class = "page-header">
        <h1 class = "center-header">Advocate List</h1>
    </div>

    <div id="list-header">
        
        <p>Name</p>
        <p>Company</p>
        <p>Email</p>
        <p>Industry</p>
        <p>Company Size</p>
        
    </div>

    <div id = "adv-list-div">
        {% for advocate in advocate_list %}
        <a id="adv-box" class="adv-row">
            
            <p id="adv-title">{{ advocate.first_name }} {{ advocate.last_name }}</p>
            <p id="company-title">{{ advocate.company }}</p>
            <p id="email-title">{{ advocate.email }}</p>
            <p id="industry-title">{{ advocate.industry }}</p>
            <p id="company-size-title">{{ advocate.company_size }}</p>
            
        </a>
        {% endfor %}
    </div>

    <div id="myDiv" style="display: none;">
        <button id="closeButton" style="float: right;">X</button>
    </div>
    

</div>

<script>

    document.querySelectorAll('.adv-row').forEach(function(element) {
        element.addEventListener('click', function() {
            let advocate = {
                first_name: element.querySelector('#adv-title').textContent,
                last_name: "",
                company: element.querySelector('#company-title').textContent,
                email: element.querySelector('#email-title').textContent,
                industry: element.querySelector('#industry-title').textContent,
                company_size: element.querySelector('#company-size-title').textContent
            };
        showAdvInfo(advocate);
        });
    });

    document.getElementById("closeButton").addEventListener("click", function() {
        var div = document.getElementById("myDiv");
        div.style.display = "none";
    });


</script>

{% endblock %}