{% extends "base.html" %}
{% block title %}Calendar || Kredible{% endblock %}
{% block body %}

<div id="navigation">
    <h1>Kredible</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/advocates">Advocates</a>
    <a href="/calendar">Calendar</a>
    <a href="/notifications">Notifications</a>
    <a href="/settings">Settings</a>
    <a id="logout" href="/logout">Log Out</a>
</div>

<div class = "page-header">
    <h1>Calendar</h1>
</div>

<div>
    <h1>SUNDAY MONDAY JANUARY CALENDAR STUFF</h1>
    <h1>SUNDAY MONDAY JANUARY CALENDAR STUFF</h1>
    <h1>SUNDAY MONDAY JANUARY CALENDAR STUFF</h1>
    <h1>SUNDAY MONDAY JANUARY CALENDAR STUFF</h1>
    <h1>SUNDAY MONDAY JANUARY CALENDAR STUFF</h1>
    <h1>SUNDAY MONDAY JANUARY CALENDAR STUFF</h1>
</div>

{% endblock %}