{% extends "base.html" %}
{% block title %}Kredible{% endblock %}
{% block body %}

<div id="navigation">
    <h1>Welcome to Kredible</h1>
    <a id="logout" href="/logout">Log Out</a>
</div>



<div id = "adv-list-div">
    {% for advocate in advocate_list %}
    <div id="adv-box">
    <h2 id = "adv-display-name">{{ advocate.first_name }} {{ advocate.last_name }} of {{ advocate.company }}</h2>
    <p>Email: {{ advocate.email }}</p>
    <p>Industry: {{ advocate.industry }}</p>
    <p>Company Size: {{ advocate.company_size }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}