{% extends "base.html" %}
{% block title %}Settings || Kredible{% endblock %}
{% block body %}

<div id="navigation">
    <h1>Kredible</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/advocates">Advocates</a>
    <a href="/calendar">Calendar</a>
    <a href="/notifications">Notifications</a>
    <a href="/settings">Settings</a>
    <a id="logout" href="/logout">Log Out</a>
</div>

<div class = "page-header">
    <h1>Calendar</h1>
</div>

<div>
    <h1>Adjust your settings</h1>
    <p>Maybe do your password</p>
    <p>or something</p>

</div>

{% endblock %}